src
test
bin
esbuild.js
esbuild.cli.js
tsconfig.json
.eslintrc*
.vscode
.vscode-test
.gitignore
**/*.map
**/*.ts
!dist/extension.js
node_modules/@types
node_modules/typescript
node_modules/vitest
node_modules/@vitest
node_modules/esbuild
node_modules/@vscode/test-electron
node_modules/.bin
node_modules/.cache
